.addbutton {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.addbutton-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  direction: rtl;
  border-bottom: 1px solid yellow;
  width: 100%;
  height: 10%;
  & input[type="text"] {
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    outline: none;
    background-color: transparent;
  }
}
.addbutton-header label {
  font-size: clamp(10px, 3vw, 22px);
  color: whitesmoke;
  width: 10%;
  max-width: 200px;
}
input[type="number"] {
  font-size: clamp(10px, 3vw, 24px);
  font-weight: bold;
  width: clamp(10px, 4vw, 170px);
  height: 100%;
  border-bottom: 1px solid wheat;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: textfield !important;
  appearance: none;
  background-color: transparent;
}
.linseHolder {
  padding: 1%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.addbuttonline {
  margin: 4% auto;
  padding: 1%;
  max-height: 35px;
  border-bottom: 1px solid skyblue;
}
select {
  cursor: pointer;
  max-width: 120px;
  color: rgb(255, 255, 255);
  background-color: #4b9e89;
  border-left: 1px solid rgba(200, 238, 225, 0.8);
  border-right: 1px solid rgba(200, 238, 225, 0.8);
  border-radius: 6px;
  padding: 0.1%;
  font-size: clamp(10px, 70%, 20px);
  line-height: 1.7;
  width: 100%;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-color: transparent;
}
select::-ms-expand {
  display: none;
}
select:hover {
  background-color: #04251d5d;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(200, 238, 225, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}
option {
  border: none;
  color: rgba(31, 4, 4, 0.596);
  padding: 10px;
  background-color: rgba(31, 4, 4, 0.596);
}
.addbuttonline input {
  border-right: 1px solid wheat;
  border-left: 1px solid wheat;
  outline: none;
  width: 40%;
  text-align: center;
  background-color: transparent;
  background-color: #4b9e898a;
}
