<<<<<<< HEAD
@keyframes moveAndExpand {
  0% {
    top: -8%;
    width: 0.3%;
  }
  20% {
    top: 5%;
    width: 0.3%;
  }
  40% {
    top: 5%;
    width: 50%;
  }
  50% {
    top: 5%;
    width: 50%;
  }
  80% {
    top: 5%;
    width: 0.3%;
  }
  90% {
    width: 0%;
  }
  100% {
    top: -10vh;
    width: 0%;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-15px);
  }

  50% {
    transform: translateX(15px);
  }

  75% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes indicator {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
@keyframes DropAndExpand {
  0% {
    top: -150vh;
    width: 0%;
  }
  50% {
    top: 10%;
    width: 0%;
  }
  100% {
    top: 10%;
    width: 60%;
  }
}

@keyframes dance {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
=======
@keyframes moveAndExpand {
  0% {
    top: -8%;
    width: 0.3%;
  }
  20% {
    top: 5%;
    width: 0.3%;
  }
  40% {
    top: 5%;
    width: 50%;
  }
  50% {
    top: 5%;
    width: 50%;
  }
  80% {
    top: 5%;
    width: 0.3%;
  }
  90% {
    width: 0%;
  }
  100% {
    top: -10vh;
    width: 0%;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-15px);
  }

  50% {
    transform: translateX(15px);
  }

  75% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes indicator {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
@keyframes MoveDown {
  0% {
    top: -150vh;
    width: 0;
    opacity: 0;
  }
  40% {
    top: 1%;
    width: 0;
    opacity: 0;
  }
  60% {
    top: 1%;
    width: 10%;
    opacity: 0.5;
  }
  100% {
    top: 1%;
    width: 50%;
    opacity: 1;
  }
}

@keyframes dance {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
>>>>>>> 6ab2c397ca3e2e87e98273bb53cabe79fcc7f241
