@keyframes moveAndExpand {
  0% {
    top: -8%;
    width: 0.3%;
  }
  20% {
    top: 5%;
    width: 0.3%;
  }
  40% {
    top: 5%;
    width: 50%;
  }
  50% {
    top: 5%;
    width: 50%;
  }
  80% {
    top: 5%;
    width: 0.3%;
  }
  90% {
    width: 0%;
  }
  100% {
    top: -10vh;
    width: 0%;
  }
}
@keyframes indicator {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
@keyframes dance {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes shake-animation {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
