.insertdata-container {
  direction: rtl;
  padding: 2%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.insertdata-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.insertdata-line label {
  flex: 1;
  text-align: center;
  font-size: clamp(12px, 2vw, 18px);
  color: white;
  font-weight: bold;
}

.insertdata-line input {
  flex: 2;
  text-align: center;
  padding: 0.5rem;
  font-size: clamp(12px, 2vw, 16px);
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: white;
}

.insertdata-footer {
  margin: 2rem auto 1rem auto;
  width: 70%;
  display: flex;
  justify-content: center;
}
