.encryption-key {
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#key {
  position: relative;
}
.key-line {
  border-radius: 8px;
  margin: auto;
  margin-top: -4%;
  width: 90%;
  max-width: 900px;
  height: 10%;
  max-height: 40px;
  animation-name: open;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.key-line .PasswordField {
  max-width: 900px;
  width: 60%;
  max-height: 40px;
}
.key-buttons {
  position: relative;
  border: none;
  padding: 1% 3%;
  font-size: clamp(10px, 3vw, 20px);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #1d1517, #ff4b2b);
  overflow: hidden;
}
.key-buttons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}
.key-buttons:hover::before {
  transform: translateX(0);
}
.key-buttons:hover {
  transform: scale(1.1);
}

@keyframes open {
  0% {
    margin-top: -4%;
    width: 0%;
  }
  50% {
    margin-top: 10%;
    width: 0%;
  }
  100% {
    margin-top: 10%;
    width: 90%;
  }
}
@keyframes close {
  0% {
    margin-top: 10%;
    width: 90%;
  }
  50% {
    margin-top: 10%;
    width: 0%;
  }
  100% {
    margin-top: -4%;
    width: 0%;
  }
}
