*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: 300px;
  height: 100vh;
  min-height: 500px;
  margin: 0;
  font-family: sans-serif;
  background: url("media/background.jpg") center/cover no-repeat;
  background-size: 100vw 100vh;
  direction: rtl;
}

body[dir="rtl"],
.login-holder[dir="rtl"],
.error-holder[dir="rtl"] {
  direction: rtl;
}

body[dir="ltr"],
.login-holder[dir="ltr"],
.error-holder[dir="ltr"] {
  direction: ltr;
}

.login-holder {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  border-radius: 8px;
  width: clamp(200px, 70vw, 700px);
  height: clamp(400px, 90vh, 900px);
  backdrop-filter: blur(6px);
  overflow: hidden;
}

.login-holder input {
  outline: none;
  padding: 1%;
  color: white;
  border-bottom: 1px solid whitesmoke;
  background-color: transparent;
}

.username {
  grid-row: 6 / 9;
  grid-column: 4 / 22;
}

.password-field {
  grid-row: 10 / 10;
  grid-column: 4 / 22;
  width: 100% !important;
}

.login-btn {
  grid-column: 9 / 17;
  grid-row: 18 / 22;
  max-height: 50px;
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: clamp(10px, 2.9vw, 24px);
  letter-spacing: 0.8px;
  padding: 13px 16px;
  text-transform: uppercase;
  text-align: center;
  transition: filter 0.2s;
  user-select: none;
  width: 100%;
  box-shadow: 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 15px #03e9f4,
    0 0 50px #03e9f4;
}

.login-btn:hover:not(:disabled) {
  filter: brightness(1.1);
}

.login-btn:active {
  border-width: 4px 0 0;
  transform: scale(0.98);
  filter: brightness(0.9);
}

.login-btn:disabled {
  cursor: auto;
}

.language-btn {
  grid-row: 23 / 25;
  grid-column: 18 / 22;
  cursor: pointer;
  font-size: clamp(10px, 3vw, 22px);
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  max-height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-btn:hover {
  background-color: #555;
  transform: scale(1.05);
}

.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 8;
  grid-row: 24 / 25;
  padding: 0.2%;
  font-size: clamp(10px, 3vw, 24px);
  color: whitesmoke;
  text-align: center;
  background-color: rgba(75, 31, 31, 0.5);
}

.error-holder {
  width: clamp(50px, 70vw, 900px);
  height: clamp(50px, 70vh, 900px);
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  border-radius: 10px;
  backdrop-filter: blur(6px);
}

.error-title {
  grid-column: 2 / 10;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(10px, 3vw, 24px);
  font-weight: bolder;
  color: #ccebf3;
  padding: 8%;
  border-bottom: 5px solid rgb(134, 91, 12);
}

.error-text {
  grid-row: 6 / 22;
  grid-column: 1 / 25;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(10px, 3vw, 30px);
  color: rgba(221, 131, 13, 0.8);
  font-weight: bolder;
  text-align: center;
}

.error-btn {
  grid-row: 24 / 25;
  grid-column: 1 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(10px, 3vw, 30px);
  text-decoration: none;
  color: white;
  background-color: #d9534f;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.error-btn:hover {
  background-color: #c9302c;
  transform: scale(1.03);
}

@media only screen and (max-width: 767px) {
  .login-holder {
    width: 100vw;
    height: 100vh;
  }

  .login-btn {
    grid-column: 9 / 17;
    grid-row: 16 / 19;
  }

  .language-btn {
    grid-row: 21 / 23;
    grid-column: 10 / 16;
  }
  .error-holder {
    width: 100vw;
    height: 100vh;
  }
}
